/* Darkmore started */
#app {
  background-color: var(--dark-mode--);
  color: white!important;
}
.single-card {
  background-color: var(--darkless-mode--)!important;
  color: white!important;
}
/* auth pages to be dark */
.login-components, .register-components, .resetpassword-components  {
  background-color: var(--darken-mode--)!important;
}
.login-components a, .register-components a, .resetpassword-components a {
  color: white!important;
}
.background-area {
  background-image: url()!important;
  background-color: var(--darkless-mode--)!important;
}
/* logo and texts to be white */
/*.logo {
  background-image: url('./img/logoblue.svg')!important
}*/
p,h1,h2,h3,h4,h5,h6, strong {
  color: white!important;
}
h2, .title-preview-topics {
  color: white!important;
}

/* modal background */
.modal {
  background-color: rgba(0,0,0,.7);
}
/* modal to be dark and bigger by padding */
.modal-content {
  background-color: var(--darken-mode--)!important;
  color: white!important;
  padding: 8px;
}
/* remove borders */
.modal-header, .modal-footer {
  border:0;
}
/* set to dark on sections and header */
section {
  background-color: var(--dark-mode--)!important;
  color: white!important;
}
header {
  background-color: var(--darkless-mode--)!important;
  color: white!important;
}
/* set to darkless at resource cards */
#resource-card , .resource-area  {
  background-color: var(--darkless-mode--)!important;
  color: white!important;
  border-color: transparent!important;
}
/* topic component in user page */
.topic-container {
  background-color: var(--darkless-mode--)!important;
}
/*set text to white*/
.upvote-btn {
  color: white!important;
}
/* remove its border */
.description-hidden {
  border-color: transparent!important;
}
/* set them to dark */
input, select, option {
  background-color: var(--darkless-mode--)!important;
  color: white!important;
  border-color: rgba(255,255,255,.0)!important;
}
/*div {
  background-color: var(--dark-mode--);
  color: white!important;
}*/
/*Dark mode ended*/